        /* Navigation */
        
        #main-nav .social-icon {
            display: none;
        }
        
        #main-nav .container {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        
        #main-nav .logo,
        #main-nav ul {
            justify-self: center;
        }
        /* Home Articles */
        
        #home-articles .articles-container {
            grid-template-columns: repeat(2, 1fr);
        }
        
        #home-articles .articles-container>*:first-child,
        #home-articles .articles-container>*:last-child {
            grid-column: auto;
            grid-template-columns: 1fr;
        }

        /* mobile */
        
        @media(max-width: 650px) {
            #showcase .container,
            #home-articles .articles-container,
            #main-footer .container {
                grid-template-columns: 1fr;
            }
            #main-footer .container>*:last-child {
                grid-column: auto;
            }
            #main-footer .container>*:first-child,
            #main-footer .container>*:nth-child(2) {
                border-bottom: #444 dotted 1px;
                padding-bottom: 15px;
            }
            .page-container {
                grid-template-columns: 1fr;
                text-align: center;
            }
            .page-container>*:first-child {
                grid-row: 1;
            }
            .lg-heading {
                font-size: 2rem;
            }
            #article .list li {
                width: 100%;
            }
        }