/* Root */

:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Utility */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 40px;
  /* overflow: hidden; */
}

.lg-heading {
  font-size: 3rem;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 15px;
}

.category-sports {
  background: var(--sports-color);
}

.category-ent {
  background: var(--ent-color);
}

.category-tech {
  background: var(--tech-color);
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  padding: 8px 20px;
}

.btn-light {
  background: var(--light-color);
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.card {
  background-color: #fff;
  padding: 15px;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark a,
.bg-primary a,
.bg-secondary a {
  color: #fff;
}

.py-2 {
  padding: 30px 0;
}

.list li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #555;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Inner page grid container */

.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 15px;
}

.page-container > *:first-child {
  grid-row: 1/4;
}

/* Navbar */

#main-nav {
  background-color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  align-items: center;
}

#main-nav .logo img {
  width: 200px;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li a {
  font-weight: bold;
  padding: 10px;
}

#main-nav ul li a.current {
  background-color: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

#main-nav .social-icon a {
  color: #777;
  margin-right: 8px;
}

#main-nav .social-icon a:hover {
  color: var(--primary-color);
}

/* Showcase */

#showcase {
  position: relative;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

#showcase::before {
  position: absolute;
  content: "";
  background: url("../img/featured.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  min-height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 15px;
}

/* Home Articles */

#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

#home-articles .articles-container > *:first-child {
  grid-column: 1/3;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2/4;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
}

#article .meta {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Footer */

#main-footer {
  background: var(--dark-color);
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

#main-footer .container > *:last-child {
  grid-column: 1/5;

  background-color: #444;
  text-align: center;
  font-size: 0.7rem;
  padding: 5px;
}

#main-footer input {
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
}
